* {
	margin: 0;
	padding: 0;
	border: 0;
}

span {
	display: inline-block;
}

img {
	display: block;
}

button {
	display: inline-block;
}

table, tr, td {
	border-spacing: 0;
	border-collapse: separate;
}

tbody, tr, th, td {
	border: inherit;
}

