/* ajax requests with user visual feedback and manual retry */

.loading_outer {
	display: table;
	position: absolute;
}

.loading_middle {
	display: table-cell;
	vertical-align: middle;
}

.loading_inner {
	/* use "auto" instead to center the icon to the container */
	margin-left: 10px;
	margin-right: 10px;;
}

.loading {
	background-image: url(/loading.gif);
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.loading_error {
	background-image: url(/load_error.gif);
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	cursor: pointer;
}

